/* app/globals.css */

/* 1. Impor semua layer Tailwind CSS dalam satu baris */
@import 'tailwindcss';

/* 2. Definisikan semua kustomisasi tema di sini */
@theme {
  /* Palet Warna */
  --color-dark-blue: #0a192f;
  --color-light-slate: #ccd6f6;
  --color-slate: #8892b0;
  --color-primary-blue: #57cbff;
  --color-primary-purple: #a779e9;
  --color-navy-light: #112240; /* Warna untuk card proyek */

  /* Tipografi */
  --font-family-sans: var(--font-inter), sans-serif;
  --font-family-mono: var(--font-source-code-pro), monospace;
}

/* 3. (Opsional) Tambahkan style dasar global di sini */
html {
  scroll-behavior: smooth;
}

body {
  /* Kamu bisa menambahkan style default untuk body di sini jika perlu */
  background-color: theme(
    'colors.dark-blue'
  ); /* Cara mengakses tema di custom CSS */
  color: theme('colors.light-slate');
}
